{% extends 'base.html' %}
{% load static %}
{% block content %}
            <!-- offcanvas-start -->
            <div class="extra-info">
                <div class="close-icon menu-close">
                    <button>
                        <i class="far fa-window-close"></i>
                    </button>
                </div>
                <div class="logo-side mb-30">
                    <a href="index-2.html">
                        <h1>nihadgo75</h1>
                    </a>
                </div>
                <div class="side-info mb-30">
                    <div class="contact-list mb-30">
                        <h4>Office Address</h4>
                        <p>{{account.office_address}}</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Phone Number</h4>
                        <p>{{account.phone_number}}</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Email Address</h4>
                        <p>{{account.email}}</p>
                    </div>
                </div>
                <div class="social-icon-right mt-20">
                    
                    <a href="{{banner.linkedin_profile_link}}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="{{banner.Skype_profile_link}}" target="_blank"><i class="fab fa-skype"></i></a>
                    <a href="{{banner.twitter_profile_link}}" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="{{banner.facebook_profile_link}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="{{banner.instagram_link}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <a href="{{banner.discord_profile_link}}" target="_blank"><i class="fab fa-discord"></i></a>
                   
                </div>
            </div>
            <div class="offcanvas-overly"></div>
            <!-- offcanvas-end -->
        </header>
        <!-- header-end -->

        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="breadcrumb-content text-center">
                                <h2>{{single_project.project_tittle_showcase}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- portfolio-details-area -->
            <section class="portfolio-details-area pt-120 pb-120">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-9 col-lg-10">
                            <div class="single-blog-list">
                                <div class="blog-list-thumb mb-35">
                                    <img src="{{single_project.single_project_page_image.url}}" alt="img">
                                </div>
                                <div class="blog-list-content blog-details-content portfolio-details-content">
                                    <h2>{{single_project.project_tittle_single_project_page}}</h2>
                                    <p>{{single_project.project_description}}</p>
               
                                    <div class="blog-list-meta">
                                        <ul>
                                            <li class="blog-post-date">
                                                <h3>Share On</h3>
                                            </li>
                                            <li class="blog-post-share">
                                                    <a href="{{banner.linkedin_profile_link}}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                                    <a href="{{banner.Skype_profile_link}}" target="_blank"><i class="fab fa-skype"></i></a>
                                                    <a href="{{banner.twitter_profile_link}}" target="_blank"><i class="fab fa-twitter"></i></a>
                                                    <a href="{{banner.facebook_profile_link}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                    
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="avatar-post mt-70 mb-60">
                                    <ul>
                                        <li>
                                            <div class="post-avatar-img">
                                                <img src="{{single_project.profile_photo.url}}" alt="img">
                                            </div>
                                            <div class="post-avatar-content">
                                                <h5>{{single_project.name}}</h5>
                                                <p>{{single_project.creators_review}}</p>
                                                <div class="post-avatar-social mt-15">
                                                    <a href="{{banner.linkedin_profile_link}}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                                    <a href="{{banner.Skype_profile_link}}" target="_blank"><i class="fab fa-skype"></i></a>
                                                    <a href="{{banner.twitter_profile_link}}" target="_blank"><i class="fab fa-twitter"></i></a>
                                                    <a href="{{banner.facebook_profile_link}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="{{banner.instagram_link}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- portfolio-details-area-end -->

        </main>
{% endblock %}
